<div class="modal" id="modalYNSimple"
     data-mdb-backdrop="static"
     data-mdb-keyboard="false"
     tabindex="-1"
     aria-labelledby="modalYNSimpleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="modalYNSimpleLabel"></h5>
                <button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <i class="fas fa-bell fa-2x text-primary me-2"></i>
                <span id="modalYNSimpleMsg">question</span>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="modalYNsimpleNo" type="button" class="btn btn-sm btn-secondary" data-mdb-dismiss="modal"
                        onclick="opnModalYNSimpleNoWrapper()">
                    No
                </button>
                <button type="button" class="btn btn-sm btn-primary"
                        onclick="opnModalYNSimpleYesWrapper()">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>

