@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;

    ViewData["userName"] = @Model._commonUser.UserName;
    var id = @Model._commonUser.Id;
    ViewData["userId"] = id;
}

<h4>Set your password</h4>
<partial name="~/Pages/Shared/_statusMessage.cshtml" model="@Model._statusMessage" />
<p class="text-info">
    User don't have local password for this site. Add a local
    local password to this account so user can log in without
    an external login.
</p>
<div class="row">
    <div class="col-sm-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-2">
                <label class="form-label" asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Set password</button>
        </form>
    </div>
</div>
