@{
    var _lconsts = (MTF.Utilities.layoutConsts)ViewData["_lconsts"];
    var teamAlias = MTF.GlobalParameters.TeamNameAlias;
    var teamsAlias = MTF.GlobalParameters.TeamsNameAlias;
    var bsAlias = MTF.GlobalParameters.BusinessStructureAlias;
}
<ul class="sidenav-menu">
    @if (_lconsts.IsSignedIn)
    {
    <li class="sidenav-item border-bottom border-2 rounded-0">
        <a class="sidenav-link active ps-2 pb-3"
           asp-area="ApplicationDB" asp-page="/BS/index">
                <i class="fas fa-shield-alt fa-fw me-2"></i>
                <span>@bsAlias</span>
        </a>
    </li>
    <li class="sidenav-item">
        <a class="sidenav-link active ps-2"
           onclick="reqTeamName()">
            <i class="fas fa-plus fa-fw me-2"></i>
            <span>Add @teamAlias</span>
        </a>
    </li>
    }
</ul>