@page
@model LicencesModel
@{
    ViewData["Title"] = "Legal Information";
}
<div class="container mx-auto mt-2">
    <!--h3>Consumer Business Privacy Statement</!h3-->
    <!--section class="text-left mb-4 mt-4">
        <p>Should be developed or can be re-used from a previous version</p>
    </section-->
    <h3>Cookies and Similar Technologies</h3>
    <section class="text-left mb-4 mt-4">
        <a class="" asp-area="" asp-page="/PrivacyPolicy">Read about our cookies policy</a>
    </section>
    <h3>Open Source Licences</h3>
    <section class="text-left mb-4 mt-4">
        <p><span class="font-weight-bold">Multi-Tenant Framework (MTF)</span> Copyright © Valerii Danilov, <a asp-area="" asp-page="/MITlicence">show licence</a></p>
        <p><span class="font-weight-bold">.NET 5.0</span> Copyright © .NET Foundation and Contributors, <a target="_blank" href="https://github.com/dotnet/core">show licence</a></p>
        <p><span class="font-weight-bold">MailKit</span> Copyright © Jeffrey Stedfast, <a target="_blank" href="https://licenses.nuget.org/MIT">show licence</a></p>
        <p><span class="font-weight-bold">Pomelo.EntityFrameworkCore.MySql</span> Copyright © Pomelo Foundation, <a target="_blank" href="https://licenses.nuget.org/MIT">show licence</a></p>
        <p><span class="font-weight-bold">MySqlConnector</span> Copyright © Bradley Grainger,Caleb Lloyd <a target="_blank" href="https://licenses.nuget.org/MIT">show licence</a></p>
        <p><span class="font-weight-bold">MySqlConnector.Logging.NLog</span> Copyright © Bradley Grainger <a target="_blank" href="https://licenses.nuget.org/MIT">show licence</a></p>
        <p><span class="font-weight-bold">MySqlConnector.Authentication.Ed25519</span> Copyright © Bradley Grainger <a target="_blank" href="https://licenses.nuget.org/MIT">show licence</a></p>
        <p><span class="font-weight-bold">NLog</span> Copyright © NLog Project <a target="_blank" href="https://github.com/NLog/NLog.Web/blob/master/LICENSE">show licence</a></p>
        <p><span class="font-weight-bold">NLog.Web.AspNetCore</span> Copyright © NLog Project <a target="_blank" href="https://github.com/NLog/NLog.Web/blob/master/LICENSE">show licence</a></p>
        <p><span class="font-weight-bold">IPNetwork2</span> Copyright © Luc Dvchosal <a target="_blank" href="https://github.com/lduchosal/ipnetwork/blob/master/LICENSE">show licence</a></p>
        <p><span class="font-weight-bold">WebMarkupMin.AspNetCore5</span> Copyright © Andrey Taritsyn <a target="_blank" href="https://www.nuget.org/packages/WebMarkupMin.AspNetCore5/2.10.0/license">show licence</a></p>
        <p><span class="font-weight-bold">LigerShark.WebOptimizer.Core</span> Copyright © LigerShark <a target="_blank" href="https://github.com/ligershark/WebOptimizer/blob/master/LICENSE">show licence</a></p>
        <p><span class="font-weight-bold">StackExchange.Redis</span> Copyright © Stack Exchange, Inc.,marc.gravell <a target="_blank" href="https://licenses.nuget.org/MIT">show licence</a></p>
        <p><span class="font-weight-bold">Gotenberg.Sharp.Api.Client</span> Copyright © ChangemakerStudios  <a target="_blank" href="https://github.com/ChangemakerStudios/GotenbergSharpApiClient/blob/develop/LICENSE">show licence</a></p>
        <p><span class="font-weight-bold">MDB UI KIT PRO</span> Copyright © MDB <a target="_blank" href="https://mdbootstrap.com/licensing/">show licence</a></p>
        <p><span class="font-weight-bold">Font Awesome</span> Copyright © Fonticons, Inc <a target="_blank" href="https://fontawesome.com/license/free">show licence</a></p>
        <p><span class="font-weight-bold">png images</span> all png files have been downloaded from <span class="font-weight-bold">cleanpng.com</span> and believed to be in public domain <a target="_blank" href="https://www.cleanpng.com/dmca.html">show DMCA Policy</a></p></p>
    </section>
</div>