@page
@model LicencesModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container mx-auto">
    <section class="text-left mb-4 pt-4">
        <h3 class="mb-sm-4">Cookies and similar technologies</h3>
        <p>
            Cookies are small text files placed on your device to store data that can be recalled by a web server in the domain that placed the cookie. We use cookies and similar technologies for storing and honouring your preferences and settings, enabling you to sign in, combating fraud and fulfilling other legitimate purposes.
        </p>
        <p>
            We also use “web beacons” to help deliver cookies and gather usage and performance data. Our websites may include web beacons, cookies, or similar technologies from third-party service providers.
        </p>
        <p>
            You have a variety of tools to control the data collected by cookies, web beacons, and similar technologies. For example, you can use controls in your internet browser to limit how the websites you visit are able to use cookies and to withdraw your consent by clearing or blocking cookies.
        </p>
    </section>
</div>
<!--partial name="~/Pages/Shared/_CommonFooter.cshtml"/-->
