@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "./_Layout.cshtml";
}

<header>
    <div class="container-fluid text-center py-4">
        <div class="h1-responsive text-dark">
            <span>You have successfully logged out of the application.</span>
        </div>
        <div>
            <img class="img-fluid"
                 src="~/favicons/goodbye.png" alt="~/favicons/goodbye.png"
                 asp-append-version="true"
                 width="350" height="350" object-fit="contain">
        </div>
    </div>
</header>