@page
@model sysClosedModel
@{
    ViewData["Title"] = "In Service";
    Layout = "./_Layout.cshtml";
}

<header>
    <p class="lead mb-4 mt-4 text-danger">The system is in service.</p>
    <p class="lead mb-4 mt-4 text-danger">@GlobalParameters._systemClosedButSUS</p>
</header>
