<a id="leftNavbarToggler"
    data-mdb-toggle="sidenav"
    data-mdb-target="#sidenav01"
    class="navbar-brand ms-2 ps-0"
    aria-controls="#sidenav01"
    aria-haspopup="true"
    style="cursor: pointer;"
    title="Access main menu"
    onclick="leftNavbarTogglerExt()">
    <i class="fas fa-bars fa-fw ms-0 ps=0 me-2"></i>
</a>
<script type="text/javascript">
    function leftNavbarTogglerExt() {
        return sidenavChangedByHands();
    };
</script>
